@use "../_setting" as s;

#footer {
	clear: both;
	position:relative;
	z-index:2;
	&::before{
		@include s.media(m){
			content:"";
			display:block;
			width:120%;
			height:20em;
			position:absolute;
			top:9em;
			left:-10%;
			background:s.$colorType02;
			border-radius: 50%;
			z-index:-1;
		}
	}
	&::after{
		@include s.media(m){
			content:"";
			display:block;
			width:100%;
			height:15em;
			position:absolute;
			top:19em;
			left:0;
			background:s.$colorType02;
			z-index:-1;
		}
	}
}

#footer .footerReservationBox{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-bottom:2.5em;
	@include s.media(m){
		width:63.5em;
		margin-bottom:5em;
	}
	&__bg{
		img{
			width:100%;
		}
	}
	&__inner{
		display:block;
		margin-top:-9.5em;
		@include s.media(m){
			margin-top:0;
			width:100%;
			display:block;
			position:absolute;
			top:0;
			left:0;
		}
	}
	&__title{
		display:block;
		text-align:center;
		margin-top:2em;
		margin-bottom:0.7em;
		font-size:1.4em;
		font-family: 'Noto Serif JP', serif;
		font-weight:700;
		letter-spacing:0.1em;
		@include s.media(m){
			font-size:2.25em;
		}
		&+p{
			display:block;
			text-align:center;
			margin-bottom:3em;
			letter-spacing:0.1em;
			@include s.media(m){
				margin-bottom:2em;
			}
		}
	}
	&__contact{
		width:100%;
		padding:0 2em;
		@include s.media(m){
			display:flex;
			justify-content:center;
			align-items:center;
		}
	}
	&__telBox{
		text-align:center;
		display:block;
		margin-bottom:1em;
		@include s.media(m){
			width:50%;
			margin-bottom:0;
		}
		p{
			font-family: 'Noto Serif JP', serif;
			font-weight:500;
			letter-spacing:0.1em;
		}
	}
	&__tel{
		font-size:2em;
    	font-family: 'Noto Serif JP', serif;
		font-weight:500;
		color:s.$colorType04;
		@include s.media(m){
			font-size:3.1em;
		}
		small{
			font-size:0.6em;
			display:inline-block;
			margin-right:0.5em;
		}
	}
	&__mailBox{
		text-align:center;
		display:block;
		@include s.media(m){
			width:50%;
		}
		a{
			font-size:1.2em;
			display:block;
			background:s.$colorType03;
			color:#FFF;
			text-decoration:none;
			padding:0.7em 1em;
		    font-family: 'Noto Serif JP', serif;
			font-weight:500;
			letter-spacing:0.1em;
			@include s.media(m){
				font-size:1.5em;
			}
			@include s.media(m){
				width:16em;
			}
			&:hover{
				background:s.$colorType04;
			}
		}
	}
}

#footer .footer__bg{
	background:s.$colorType02;
	padding-bottom:3em;
	margin-bottom:2em;
	padding-top:3em;
	@include s.media(m){
		padding-bottom:15em;
		margin-bottom:0;
		padding-top:0;
	}
}

#wrapper .footerCompanyBox {
	&__title{
		display:block;
		text-align:center;
		margin-bottom:1em;
		span{
			display:inline-block;
			position:relative;
			width:60%;
			@include s.media(m){
				width:24.4em;
			}
			img{
				width:100%;
			}
			&::before{
				@include s.media(m){
					content:"";
					display:block;
					width:8em;
					height:1px;
					position:absolute;
					top:50%;
					left:-9em;
					background:s.$colorType03;
					margin-top:-0.5px;
				}
			}
			&::after{
				@include s.media(m){
					content:"";
					display:block;
					width:8em;
					height:1px;
					position:absolute;
					top:50%;
					right:-9em;
					background:s.$colorType03;
					margin-top:-0.5px;
				}
			}
		}
		&+p{
			text-align:center;
			margin-bottom:2em;
		}
	}
	&__businessHours{
		display:block;
		@include s.media(m){
			width:47%;
			float:left;
		}
	}
	&__imageBox{
		display:block;
		@include s.media(m){
			width:47%;
			float:right;
		}
	}
	&__timeTable{
		background:#FFF;
		padding:1em;
		display:block;
		margin-bottom:2em;
		table{
			width:100%;
			tr{
				border:none;
				background:none;
				&:nth-child(1){
					th{
						border-bottom:#e5e5e5 solid 1px;
						border-right:#e5e5e5 solid 1px;
					}
					td{
						border-bottom:#e5e5e5 solid 1px;
					}
				}
				&:nth-child(2){
					th{
						border-right:#e5e5e5 solid 1px;
						border-bottom:#e5e5e5 solid 1px;
					}
					td{
						border-bottom:#e5e5e5 solid 1px;
					}
				}
				&:nth-child(3){
					th{
						border-right:#e5e5e5 solid 1px;
					}
				}
			}
			th{
				border:none;
				background:none;
				padding:1em 0.3em;
				text-align:center;
			}
			td{
				border:none;
				background:none;
				padding:1em 0.3em;
				text-align:center;
				i{
					color:s.$colorType04;
				}
			}
		}
	}
	&__aboutClosed{
		dt{
			font-weight:bold;
			color:s.$colorType03;
			margin-bottom:0.7em;
		}
		dd{
			color:s.$colorType03;
		}
	}
	&__imageBox{
		figure{
			margin-bottom:2em;
			img{
				width:100%;
			}
		}
	}
	&__socialButton{
		width:100%;
		display:flex;
		justify-content:space-between;
		align-items:center;
		@include s.media(m){
			margin-bottom:2em;
		}
		li{
			width:48%;
			display:block;
		}
		a{
			width:100%;
			display:flex;
			justify-content:center;
			item-align:center;
			border:#edd17d solid 1px;
			background:#FFF;
			text-align:center;
			padding:1em 1em;
			line-height:1.7;
			@include s.media(m){
				padding:1em 2em;
			}
			span{
				&:nth-child(1){
					width:2em;
					display:inline-block;
					margin-right:0.5em;
					font-size:1.1em;
					@include s.media(m){
						margin-right:1em;
						padding-top: 0.2em;
					}
					img{
						width:100%;
					}
				}
				&:nth-child(2){
				    font-family: 'Noto Serif JP', serif;
					font-weight:500;
					letter-spacing:0.1em;
					padding-top:0.3em;
					@include s.media(m){
						font-size:1.2em;
						padding-top:0.2em;
					}
				}
			}
			&:hover{
				background:s.$colorType02;
				color: #224c64;
				border:s.$colorType03 solid 1px;
			}
		}
	}
}

#wrapper #container .footerCompanyBox__socialButton a{
	padding: 1em 1em 0.5em;
	@include s.media(m){
		padding: 1em 2em;
	}
}

.footerMapBox{
	border:s.$colorType03 solid 2px;
	margin-bottom:3em;
	@include s.media(m){
		margin-top:-14em;
	}
}

#footer .footer__bg02{
	display:block;
	background: linear-gradient(to bottom, #ffffff 40%,#ffffff 44%,#e7e0ce 100%); 
}

#footer .footerNaviBox{
	width:100%;
	@include s.media(m){
		display:flex;
		justify-content:space-between;
	}
	&__inner{
		display:block;
		margin-bottom:2em;
		clear:both;
		@include s.media(m){
			width:48%;
		}
		ul{
			width:50%;
			display:block;
			float:left;
			margin-bottom:2em;
		}
		li{
			margin-bottom:0.5em;
			a{
				color:s.$colorType03;
				font-size:0.9em;
				&:before{
                    content: "\f105";
                    font-family: 'icomoon';
                    margin-right: 0.5em;
					color:s.$colorType04;
				}
				&:hover{
					color:s.$colorType04;
				}
			}
		}
	}
	&__title{
		background:s.$colorType02;
		color:s.$colorType04;
		padding:0.1em 1em;
		margin-bottom:1.5em;
		font-family: 'Noto Serif JP', serif;
		font-weight:500;
		letter-spacing:0.1em;
		font-size:1.1em;
	}
}